USE [master]
GO
/****** Object:  Database [QuanLyBanSach]    Script Date: 7/25/2020 4:08:52 AM ******/
CREATE DATABASE [QuanLyBanSach]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Database.mdf' , SIZE = 3712KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Database_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyBanSach].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyBanSach]
GO
/****** Object:  StoredProcedure [dbo].[CapnhatSL]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapnhatSL]
@mahoadon int
AS
declare @masp int,@soluong int
    select @masp = od.Product_ID ,@soluong = od.Amount from tbl_OrderDetial od where od.Order_ID = @mahoadon 
	update tbl_Product set Amount = Amount - @soluong where Product_ID = @masp
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[CapnhatSLban]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CapnhatSLban]
@mahd int
AS declare @Masp int,@sl int
select @sl = Amount from tbl_OrderDetial where Product_ID = @masp
	update tbl_Product set  Amount = Amount - @sl where Product_ID in (select Product_ID from tbl_orderDetial
	where Order_ID = @mahd)
	RETURN
	
GO
/****** Object:  StoredProcedure [dbo].[DanhsachHD]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DanhsachHD]
AS
	select Order_ID as[Mã hoá đơn],Date as [Ngày bán],Name_Received as[Người nhận],
	Address_Received as[Địa chỉ],Phone_Received as [SĐT],
	Name_Pay as[Người thanh toán],Address_Pay as[Địa chỉ TT],
	Phone_Pay as [SĐT TT],SumMoney as[Tổng tiền]
	  from tbl_Order
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[LayNhanVien]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayNhanVien]

AS
	select EmployeeID,EmployeeName from tbl_Employee where EmployeeID not in 
	(select EmployeeID from tbl_Account)
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[LayNVNhaphang]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LayNVNhaphang]
@tk varchar(50)
AS
	select EmployeeID,EmployeeName from tbl_Employee where EmployeeID in (select EmployeeID from tbl_Account
	where Account = @tk)
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[LaySPbantheongay]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LaySPbantheongay]
@ngay nvarchar(50)
AS
	select od.Product_ID as [Mã sản phẩm],od.Price_Export as [Giá bán],sum(od.Amount) as [Số lượng],sum(od.Money) as[Tổng tiền]
	from tbl_Order o,tbl_OrderDetial od
	where o.Order_ID = od.Order_ID and  convert (datetime, substring(convert (nvarchar(50),o.date),0,len (o.date)-6))= convert (datetime,@ngay)
	group by od.Product_ID,od.Price_Export,od.Amount
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[ThongkeSP]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ThongkeSP]
	@loaisp nvarchar(50)
AS 
    select p.Product_ID, p.Product_Name, t.Type_Name, st.Style_Name, s.Supplier_Name, pro.Producer_Name, p.Price_Import, p.Price_Export, p.Amount 
    from tbl_Product p,tbl_Type t,tbl_Supplier s,tbl_Producer pro,tbl_Style st
    where p.Type_ID = t.Type_ID and p.Supplier_ID = s.Supplier_ID and p.Style_ID = st.Style_ID and p.Producer_ID = pro.Producer_ID and t.Type_Name = @loaisp
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TkDoanhthutheonam]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TkDoanhthutheonam]
@nam int
AS
	select  od.Product_ID as[Mã sản phẩm],p.Price_Import as[Giá nhập],
	p.Price_Export as[Giá xuất],sum(od.Amount) as[Số lượng],
	((p.Price_Export - p.Price_Import)* sum( od.Amount))as[Thành tiền]
	from tbl_Order o,tbl_OrderDetial od,tbl_Product p
	where o.Order_ID = od.Order_ID and od.Product_ID = p.Product_ID and Year(o.Date)=@nam
	group by od.Product_ID,p.Price_Import,p.Price_Export
	RETURN
GO
/****** Object:  StoredProcedure [dbo].[TkDoanhthutheongay]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TkDoanhthutheongay]
@ngay nvarchar(50)
AS
	select o.Date as[Ngày bán], od.Product_ID as[Mã sản phẩm],p.Price_Import as[Giá nhập],
	p.Price_Export as[Giá xuất],sum(od.Amount) as[Số lượng],
	((p.Price_Export - p.Price_Import)* sum( od.Amount))as[Thành tiền]
	from tbl_Order o,tbl_OrderDetial od,tbl_Product p
	where o.Order_ID = od.Order_ID and od.Product_ID = p.Product_ID and convert (datetime, substring( convert (nvarchar(50),o.date),0,len (o.date)-6)) = @ngay
	group by od.Product_ID,p.Price_Import,p.Price_Export,o.Date 
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[TkDoanhthutheoTG]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TkDoanhthutheoTG]
@tungay nvarchar(50),
@denngay nvarchar(50)
AS
	select o.Date as[Ngày bán], od.Product_ID as[Mã sản phẩm],p.Price_Import as[Giá nhập],
	p.Price_Export as[Giá xuất],sum(od.Amount) as[Số lượng],
	((p.Price_Export - p.Price_Import)* sum( od.Amount))as[Thành tiền]
	from tbl_Order o,tbl_OrderDetial od,tbl_Product p
	where o.Order_ID = od.Order_ID and od.Product_ID = p.Product_ID and convert (datetime, substring( convert (nvarchar(50),o.date),0,len (o.date)-6)) >= @tungay and convert (datetime, substring( convert (nvarchar(50),o.date),0,len (o.date)-6)) <= @denngay
	group by od.Product_ID,p.Price_Import,p.Price_Export,o.Date 
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TKHDNTheoNam]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKHDNTheoNam]
@nam int
AS
       select i.Date as[Ngày nhập],im.Import_ID as[Mã hoá đơn],i.Supplier_ID as[Nhà cung cấp],sum(im.Money) as [Thành tiền]
       from tbl_Import i,tbl_ImportDetail im
       where i.Import_ID = im.Import_ID and Year(i.Date) = @nam
       group by  i.Date,im.Import_ID,i.Supplier_ID

	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TKHDNTheoNgay]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKHDNTheoNgay]
@ngay nvarchar(50)
AS
       select i.Date as[Ngày nhập],im.Import_ID as[Mã hoá đơn],i.Supplier_ID as[Nhà cung cấp],sum(im.Money) as [Thành tiền]
       from tbl_Import i,tbl_ImportDetail im
       where i.Import_ID = im.Import_ID and convert (datetime, substring( convert (nvarchar(50),i.Date),0,len (i.Date)-6)) = @ngay
       group by  i.Date,im.Import_ID,i.Supplier_ID

	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TKHDNTheoTG]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKHDNTheoTG]
@tungay nvarchar(50),
@denngay nvarchar (50)
AS
       select i.Date as[Ngày nhập],im.Import_ID as[Mã sản phẩm],i.Supplier_ID as[Nhà cung cấp],sum(im.Money) as [Thành tiền]
       from tbl_Import i,tbl_ImportDetail im
       where i.Import_ID = im.Import_ID and convert (datetime, substring( convert (nvarchar(50),i.Date),0,len (i.Date)-6)) >= @tungay and convert (datetime, substring( convert (nvarchar(50),i.Date),0,len (i.Date)-6))<=@denngay
       group by  i.Date,im.Import_ID,i.Supplier_ID

	RETURN


GO
/****** Object:  StoredProcedure [dbo].[TKSPbanchaytheonam]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKSPbanchaytheonam]
@nam int
AS
	
select od.Product_ID as[Mã sản phẩm],od.Price_Export as[Giá xuất],sum(od.Amount) as[Số lượng],sum(od.Money) as[Thành tiền]
	from tbl_Order o, tbl_OrderDetial od
	where o.Order_ID = od.Order_ID and Year(o.Date) = @nam
	group by od.Product_ID,od.Price_Export
	order by od.Product_ID,od.Price_Export
	
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TKSPbanchaytheongay]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKSPbanchaytheongay]
@ngay nvarchar(50)
AS
	select od.Product_ID as [Mã sản phẩm],od.Price_Export as [Giá bán],sum(od.Amount) as [Số lượng],sum(od.Money) as[Tổng tiền]
	from tbl_Order o,tbl_OrderDetial od
	where o.Order_ID = od.Order_ID and  convert (datetime, substring(convert (nvarchar(50),o.date),0,len (o.date)-6))= convert (datetime,@ngay)
	group by od.Product_ID,od.Price_Export,od.Amount
	--order by od.Product_ID,od.Price_Export ,od.Amount ASC
	RETURN

GO
/****** Object:  StoredProcedure [dbo].[TKSPbanchaytheoTG]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKSPbanchaytheoTG]
@tungay nvarchar(50),
@denngay nvarchar(50)
AS
	select o.Date as[Ngày],od.Product_ID as[Mã sản phẩm],od.Price_Export as[Giá xuất],od.Amount as[Số lượng],od.Money as[Thành tiền]
	from tbl_Order o, tbl_OrderDetial od
	where o.Order_ID = od.Order_ID and convert (datetime, substring( convert (nvarchar(50),o.date),0,len (o.date)-6)) >=  convert (datetime,@tungay) and convert (datetime, substring( convert (nvarchar(50),o.date),0,len (o.date)-6)) <=  convert (datetime,@denngay)
	order by od.Amount desc
	RETURN


GO
/****** Object:  StoredProcedure [dbo].[tongSL]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[tongSL]
	@loaisp int
AS
	select Product_ID as[Mã sản phẩm],Product_Name as[Tên sản phẩm],Type_Name as[Loại sản phẩm],
	Supplier_Name as[Nhà cung cấp],Price_Import as [Giá nhập],Price_Export as [Giá xuất] ,
	Amount as [Số lượng] from tbl_Product p,tbl_Type t,tbl_Supplier s 
	where Type_Name = @loaisp and p.Type_ID = t.Type_ID and p.Supplier_ID = s.Supplier_ID
	RETURN

GO
/****** Object:  Table [dbo].[tbl_Account]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Account](
	[Account] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Power] [nvarchar](50) NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Account] PRIMARY KEY CLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Customer]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Customer](
	[User] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Phone] [int] NULL,
 CONSTRAINT [PK_tbl_Customer] PRIMARY KEY CLUSTERED 
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Employee]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NULL,
	[Date] [nvarchar](50) NULL,
	[Gender] [nchar](10) NULL,
	[Address] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [nchar](10) NULL,
 CONSTRAINT [PK_tbl_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Import]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Import](
	[Import_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[Date] [datetime] NOT NULL,
	[Money] [float] NULL,
	[Supplier_ID] [int] NOT NULL,
 CONSTRAINT [PK_tbl_Import] PRIMARY KEY CLUSTERED 
(
	[Import_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_ImportDetail]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ImportDetail](
	[Import_ID] [int] NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Price_Import] [float] NULL,
	[Amount] [int] NULL,
	[Money] [float] NULL,
 CONSTRAINT [PK_tbl_ImportDetail] PRIMARY KEY CLUSTERED 
(
	[Import_ID] ASC,
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Order]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Order](
	[Order_ID] [nchar](10) NOT NULL,
	[User] [varchar](20) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Pay_ID] [int] NOT NULL,
	[Transport_ID] [int] NOT NULL,
	[Name_Received] [nvarchar](50) NOT NULL,
	[Address_Received] [nvarchar](50) NOT NULL,
	[Phone_Received] [int] NULL,
	[Name_Pay] [nvarchar](50) NOT NULL,
	[Address_Pay] [nvarchar](50) NOT NULL,
	[Phone_Pay] [int] NULL,
	[Mesage] [nvarchar](max) NULL,
	[VAT_Gift] [float] NULL,
	[SumWeight] [float] NULL,
	[VAT_Transport] [float] NULL,
	[SumMoney] [float] NULL,
	[State] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_OrderDetial]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_OrderDetial](
	[Order_ID] [nchar](10) NOT NULL,
	[Product_ID] [int] NOT NULL,
	[Price_Export] [float] NULL,
	[Amount] [int] NULL,
	[Money] [float] NULL,
 CONSTRAINT [PK_tbl_OrderDetial] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC,
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Payment]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Payment](
	[Pay_ID] [int] IDENTITY(1,1) NOT NULL,
	[Pay_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Payment] PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Producer]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Producer](
	[Producer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Producer_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Producer] PRIMARY KEY CLUSTERED 
(
	[Producer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Product](
	[Product_ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_Name] [nvarchar](50) NOT NULL,
	[Type_ID] [int] NOT NULL,
	[Style_ID] [int] NOT NULL,
	[Producer_ID] [int] NOT NULL,
	[Supplier_ID] [int] NOT NULL,
	[Image] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NULL,
	[Material] [nvarchar](50) NULL,
	[Size] [nchar](10) NULL,
	[Price_Import] [float] NULL,
	[Price_Export] [float] NOT NULL,
	[Amount] [int] NULL,
	[Weight] [float] NOT NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[Product_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Style]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Style](
	[Style_ID] [int] IDENTITY(1,1) NOT NULL,
	[Style_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_Style] PRIMARY KEY CLUSTERED 
(
	[Style_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Supplier]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Supplier](
	[Supplier_ID] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [int] NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Supplier] PRIMARY KEY CLUSTERED 
(
	[Supplier_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Transport]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Transport](
	[Transport_ID] [int] IDENTITY(1,1) NOT NULL,
	[Transport_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Transport] PRIMARY KEY CLUSTERED 
(
	[Transport_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Type]    Script Date: 7/25/2020 4:08:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Type](
	[Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Type] PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tbl_Account] ([Account], [Password], [Power], [EmployeeID]) VALUES (N'admin', N'admin', N'Quản lý', 1)
INSERT [dbo].[tbl_Account] ([Account], [Password], [Power], [EmployeeID]) VALUES (N'thuytt', N'123456', N'Nhân viên', 3)
INSERT [dbo].[tbl_Customer] ([User], [Password], [FullName], [Email], [Address], [Phone]) VALUES (N'chungvu', N'123456', N'chungvu', N'anhchanghovu@gmail.com', N'haiduong-tu ky-hai duong-viet nam', 972585565)
INSERT [dbo].[tbl_Customer] ([User], [Password], [FullName], [Email], [Address], [Phone]) VALUES (N'D10ngotu4n', N'123456789', N'baham', N'askdjsahkdjh@yahoo.com', N'luong tai-mao dien-Bac Ninh-Việt Nam', 123456789)
INSERT [dbo].[tbl_Customer] ([User], [Password], [FullName], [Email], [Address], [Phone]) VALUES (N'DinhNgan', N'123', N'Đinh Thị Ngân', N'dinhngan.tk61@gmail.com', N'Nam Định', 977635498)
SET IDENTITY_INSERT [dbo].[tbl_Employee] ON 

INSERT [dbo].[tbl_Employee] ([EmployeeID], [EmployeeName], [Date], [Gender], [Address], [Email], [Phone]) VALUES (1, N'Đinh Thị Ngân', N'Jul 15 1990 12:00AM', N'Nữ        ', N'Nam Định', N'dinhngan.tk61@gmail.com', N'0977635498')
INSERT [dbo].[tbl_Employee] ([EmployeeID], [EmployeeName], [Date], [Gender], [Address], [Email], [Phone]) VALUES (2, N'Nguyễn Đức Thành', N'Aug  7 1986 12:00AM', N'Nam       ', N'Hà Nam', N'thankctk4@gmail.com', N'1669804035')
INSERT [dbo].[tbl_Employee] ([EmployeeID], [EmployeeName], [Date], [Gender], [Address], [Email], [Phone]) VALUES (3, N'Trần Thanh Thuỷ', N'May  5 1980 12:00AM', N'Nữ        ', N'Hải Dương', N'thanhthuy@gmail.com', N'987654345 ')
SET IDENTITY_INSERT [dbo].[tbl_Employee] OFF
SET IDENTITY_INSERT [dbo].[tbl_Import] ON 

INSERT [dbo].[tbl_Import] ([Import_ID], [EmployeeID], [Date], [Money], [Supplier_ID]) VALUES (27, 1, CAST(0x0000A1D200000000 AS DateTime), NULL, 3)
INSERT [dbo].[tbl_Import] ([Import_ID], [EmployeeID], [Date], [Money], [Supplier_ID]) VALUES (28, 1, CAST(0x0000A1D200000000 AS DateTime), NULL, 1)
INSERT [dbo].[tbl_Import] ([Import_ID], [EmployeeID], [Date], [Money], [Supplier_ID]) VALUES (29, 1, CAST(0x0000A1D200000000 AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[tbl_Import] OFF
INSERT [dbo].[tbl_ImportDetail] ([Import_ID], [Product_ID], [Price_Import], [Amount], [Money]) VALUES (27, 86, 50000, 2, 100000)
INSERT [dbo].[tbl_ImportDetail] ([Import_ID], [Product_ID], [Price_Import], [Amount], [Money]) VALUES (27, 93, 150000, 2, 300000)
INSERT [dbo].[tbl_ImportDetail] ([Import_ID], [Product_ID], [Price_Import], [Amount], [Money]) VALUES (27, 94, 145000, 3, 435000)
INSERT [dbo].[tbl_Order] ([Order_ID], [User], [Date], [Pay_ID], [Transport_ID], [Name_Received], [Address_Received], [Phone_Received], [Name_Pay], [Address_Pay], [Phone_Pay], [Mesage], [VAT_Gift], [SumWeight], [VAT_Transport], [SumMoney], [State]) VALUES (N'1         ', N'chungvu', CAST(0x0000A1D6001D6B35 AS DateTime), 2, 3, N'chungvu', N'haiduong-tu ky-hai duong-viet nam', 972585565, N'chungvu', N'haiduong-tu ky-hai duong-viet nam', 972585565, N'', 20000, 135, 25000, 323000, NULL)
INSERT [dbo].[tbl_OrderDetial] ([Order_ID], [Product_ID], [Price_Export], [Amount], [Money]) VALUES (N'1         ', 86, 78000, 1, 78000)
INSERT [dbo].[tbl_OrderDetial] ([Order_ID], [Product_ID], [Price_Export], [Amount], [Money]) VALUES (N'1         ', 93, 200000, 1, 200000)
SET IDENTITY_INSERT [dbo].[tbl_Payment] ON 

INSERT [dbo].[tbl_Payment] ([Pay_ID], [Pay_Name]) VALUES (1, N'Thanh toán trực tiếp')
INSERT [dbo].[tbl_Payment] ([Pay_ID], [Pay_Name]) VALUES (2, N'Thanh toán qua thẻ ATM')
INSERT [dbo].[tbl_Payment] ([Pay_ID], [Pay_Name]) VALUES (3, N'Chuyển phát nhanh qua bưu điện')
SET IDENTITY_INSERT [dbo].[tbl_Payment] OFF
SET IDENTITY_INSERT [dbo].[tbl_Producer] ON 

INSERT [dbo].[tbl_Producer] ([Producer_ID], [Producer_Name]) VALUES (1, N'Kim Đồng')
INSERT [dbo].[tbl_Producer] ([Producer_ID], [Producer_Name]) VALUES (2, N'Hà Nội')
INSERT [dbo].[tbl_Producer] ([Producer_ID], [Producer_Name]) VALUES (3, N'TP Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[tbl_Producer] OFF
SET IDENTITY_INSERT [dbo].[tbl_Product] ON 

INSERT [dbo].[tbl_Product] ([Product_ID], [Product_Name], [Type_ID], [Style_ID], [Producer_ID], [Supplier_ID], [Image], [Color], [Material], [Size], [Price_Import], [Price_Export], [Amount], [Weight]) VALUES (86, N'Ba Giai tú xuất', 11, 3, 1, 1, N'8935230000167.jpg', N'', N'', N'          ', 50000, 78000, 3, 12)
INSERT [dbo].[tbl_Product] ([Product_ID], [Product_Name], [Type_ID], [Style_ID], [Producer_ID], [Supplier_ID], [Image], [Color], [Material], [Size], [Price_Import], [Price_Export], [Amount], [Weight]) VALUES (87, N'Văn học 10', 3, 1, 1, 1, N'8935053214789.jpg', N'Trắng', N'', N'          ', 100000, 150000, 1, 15)
INSERT [dbo].[tbl_Product] ([Product_ID], [Product_Name], [Type_ID], [Style_ID], [Producer_ID], [Supplier_ID], [Image], [Color], [Material], [Size], [Price_Import], [Price_Export], [Amount], [Weight]) VALUES (88, N'Luyện viết câu tiếng anh', 1, 1, 1, 1, N'1105010122052.jpg', N'Xanh', N'', N'          ', 150000, 200000, 1, 123)
GO
SET IDENTITY_INSERT [dbo].[tbl_Product] OFF
SET IDENTITY_INSERT [dbo].[tbl_Style] ON 

INSERT [dbo].[tbl_Style] ([Style_ID], [Style_Name]) VALUES (1, N'Sách học')
INSERT [dbo].[tbl_Style] ([Style_ID], [Style_Name]) VALUES (2, N'Sách tham khảo')
INSERT [dbo].[tbl_Style] ([Style_ID], [Style_Name]) VALUES (3, N'Sách cho lứa tuổi  teen')
SET IDENTITY_INSERT [dbo].[tbl_Style] OFF
SET IDENTITY_INSERT [dbo].[tbl_Supplier] ON 

INSERT [dbo].[tbl_Supplier] ([Supplier_ID], [Supplier_Name], [Address], [Phone], [Email]) VALUES (1, N'Thu Hường', N'Hà Nội', 989876789, N'thuhuong@gmail.com')
INSERT [dbo].[tbl_Supplier] ([Supplier_ID], [Supplier_Name], [Address], [Phone], [Email]) VALUES (3, N'Việt Tiến', N'Hà Nội', 965432678, N'viettien@gmail.com')
INSERT [dbo].[tbl_Supplier] ([Supplier_ID], [Supplier_Name], [Address], [Phone], [Email]) VALUES (4, N'Việt Thy', N'Hà Nội', 98957634, N'nguyendung@yahoo.com')
SET IDENTITY_INSERT [dbo].[tbl_Supplier] OFF
SET IDENTITY_INSERT [dbo].[tbl_Transport] ON 

INSERT [dbo].[tbl_Transport] ([Transport_ID], [Transport_Name]) VALUES (1, N'Chuyển phát nhanh')
INSERT [dbo].[tbl_Transport] ([Transport_ID], [Transport_Name]) VALUES (2, N'Chuyển qua bưu điện')
INSERT [dbo].[tbl_Transport] ([Transport_ID], [Transport_Name]) VALUES (3, N'Chuyển bằng ô tô')
SET IDENTITY_INSERT [dbo].[tbl_Transport] OFF
SET IDENTITY_INSERT [dbo].[tbl_Type] ON 

INSERT [dbo].[tbl_Type] ([Type_ID], [Type_Name]) VALUES (1, N'Sách Ngoại Ngữ')
INSERT [dbo].[tbl_Type] ([Type_ID], [Type_Name]) VALUES (2, N'Sách Tin Học')
INSERT [dbo].[tbl_Type] ([Type_ID], [Type_Name]) VALUES (3, N'Sách Văn Học')
SET IDENTITY_INSERT [dbo].[tbl_Type] OFF
ALTER TABLE [dbo].[tbl_Account]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Account_tbl_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[tbl_Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[tbl_Account] CHECK CONSTRAINT [FK_tbl_Account_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_Import]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Import_tbl_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[tbl_Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[tbl_Import] CHECK CONSTRAINT [FK_tbl_Import_tbl_Employee]
GO
ALTER TABLE [dbo].[tbl_Import]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Import_tbl_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[tbl_Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[tbl_Import] CHECK CONSTRAINT [FK_tbl_Import_tbl_Supplier]
GO
ALTER TABLE [dbo].[tbl_ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ImportDetail_tbl_Import] FOREIGN KEY([Import_ID])
REFERENCES [dbo].[tbl_Import] ([Import_ID])
GO
ALTER TABLE [dbo].[tbl_ImportDetail] CHECK CONSTRAINT [FK_tbl_ImportDetail_tbl_Import]
GO
ALTER TABLE [dbo].[tbl_ImportDetail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_ImportDetail_tbl_Product1] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[tbl_Product] ([Product_ID])
GO
ALTER TABLE [dbo].[tbl_ImportDetail] CHECK CONSTRAINT [FK_tbl_ImportDetail_tbl_Product1]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_Customer] FOREIGN KEY([User])
REFERENCES [dbo].[tbl_Customer] ([User])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbl_Customer]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_Payment] FOREIGN KEY([Pay_ID])
REFERENCES [dbo].[tbl_Payment] ([Pay_ID])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbl_Payment]
GO
ALTER TABLE [dbo].[tbl_Order]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Order_tbl_Transport] FOREIGN KEY([Transport_ID])
REFERENCES [dbo].[tbl_Transport] ([Transport_ID])
GO
ALTER TABLE [dbo].[tbl_Order] CHECK CONSTRAINT [FK_tbl_Order_tbl_Transport]
GO
ALTER TABLE [dbo].[tbl_OrderDetial]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OrderDetial_tbl_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[tbl_Order] ([Order_ID])
GO
ALTER TABLE [dbo].[tbl_OrderDetial] CHECK CONSTRAINT [FK_tbl_OrderDetial_tbl_Order]
GO
ALTER TABLE [dbo].[tbl_OrderDetial]  WITH CHECK ADD  CONSTRAINT [FK_tbl_OrderDetial_tbl_Product] FOREIGN KEY([Product_ID])
REFERENCES [dbo].[tbl_Product] ([Product_ID])
GO
ALTER TABLE [dbo].[tbl_OrderDetial] CHECK CONSTRAINT [FK_tbl_OrderDetial_tbl_Product]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Product_tbl_Producer] FOREIGN KEY([Producer_ID])
REFERENCES [dbo].[tbl_Producer] ([Producer_ID])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK_tbl_Product_tbl_Producer]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Product_tbl_Style] FOREIGN KEY([Style_ID])
REFERENCES [dbo].[tbl_Style] ([Style_ID])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK_tbl_Product_tbl_Style]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Product_tbl_Supplier] FOREIGN KEY([Supplier_ID])
REFERENCES [dbo].[tbl_Supplier] ([Supplier_ID])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK_tbl_Product_tbl_Supplier]
GO
ALTER TABLE [dbo].[tbl_Product]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Product_tbl_Type] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[tbl_Type] ([Type_ID])
GO
ALTER TABLE [dbo].[tbl_Product] CHECK CONSTRAINT [FK_tbl_Product_tbl_Type]
GO
USE [master]
GO
